section .section1{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.imgBx{
  position: relative;
  width: 50%;
  height: 100%;
}

section.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}